<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sqlserver" connectionString="" providerName=""/>
    <add name="mysql" connectionString="server=10.1.83.49;User Id=root;password=gld.ri123;Database=gfm" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="active" value="mysql"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
